<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  
  <select [(ngModel)]="type">
      <option value="All"  selected>
          All
      </option>

      <option value="Baby">
          Baby
      </option>
      <option value="Computers">
         Computer
      </option>
      <option value="Garden">
        Garden
      </option>
      <option value="Outdoors">
        Outdoors
      </option>
      <option value="Home">
        Home
      </option>
  </select>
  <button (click)="console()" >Search</button>
  <br><br>

  <table class="table table-bordered table-dark">
     <thead>
        <tr>
            <th scope="col">image</th>
          <th scope="col">productName</th>
          <th scope="col"> details</th>
          <th scope="col">basePrice </th>
          <th scope="col">brand</th>
          <th scope="col">category</th>
          <th scope="col">delivery</th>   
          <th scope="col">productMaterial</th>
          <th scope="col">Reviews</th>
        </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let d of Data">
          <ng-container *ngIf="d.category == type || type == 'All'"> 
            <td><img src="{{d.imageUrl}}" width=50 height=50/> </td>
          <td> {{d.productName}}</td>
          <td>{{d.details}}</td>
          <td>{{d.basePrice}}</td>
          <td>{{d.brand}}</td>
          <td>{{d.category}}</td>
          <td>{{d.delivery}}</td>    
          <td>{{d.productMaterial}}</td>
          <td>
            <ul>
          <li *ngFor="let r of d.reviews">
              {{r.rating}} -- {{r.content}}          
          </li>
        </ul>
        </td>
      </ng-container>
        </tr>
      </tbody>
    </table>
</div>


